#viewport {
   overflow: auto;
   white-space: nowrap;
   background-color: black;
   padding: 30px;
}

#wrapper {
    height: fit-content;
}
 
img {
    height: 50vw;
    margin: 15px;

}

img:last-child {
    padding-right: 30px;
} 